
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@300&family=Rubik+Distressed&family=Rubik:wght@400;500;700&display=swap');


  html,
  body,
  #root,
  /* body::-webkit-scrollbar {
    display: none;
  } */
  .app{
    height: 100%;
    width: 100%;
    font-family: "Rubik" , sans-serif;
  }
  .app::-webkit-scrollbar {
    display: none;
  }
  .chat-box::-webkit-scrollbar {
    display: none;
  }

